/* место для вашего кода */

.title-text {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 40px;
    letter-spacing: 0em;
    text-transform: uppercase;
}

.common-text {
    font-family: "Raleway";
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0em;
}

.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    min-height: 293px;
}

.header__logo {
    width: 148px;
    height: 105px;
}

.header__logo > img {
    width: 148px;
    height: 105px;
}

.header__menu {
    margin-left: 50px;
}

.header__links-list {
    display: flex;
    flex-direction: row;
    gap: 30px;
    list-style: circle ;
    /* for pixel perfect */
    margin-bottom: 5px;
    margin-left: 1px;
}

.header__links-list-item {
    text-decoration: underline;
}

.header__links-list-item:last-child {
    margin-left: 4px;
}

.header__links-list-item--no-bullit {
    list-style: none;
    text-decoration: none;
}

.header__address {
    justify-self: end;
    margin-right: 80px;
}

.header__address, .footer__address , .footer__links-list-item, .header__links-list-item {
    text-align: left;
    font-family: "Raleway";
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    line-height: 24.3px;
    text-underline-offset: 4px;
    
}

.cover {
    height: 757px;
    background: url("../images/cover.jpg") rgba(0,0,0,.6);
    background-size: cover;
    background-blend-mode: multiply;
    color: white;
    position: relative;
    margin-bottom: 180px;
}

.cover__title {
    /* empty */
}

.cover__title-text {
    font-family: "Raleway";
    font-size: 100px;
    font-weight: 700;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    line-height: 115px;
}

.cover__title-left-text-aligned {
    position: absolute;
    left: 50px;
    top: 165px;
}

.cover__title-center-text-aligned {
    position: absolute;
    left: 380.5px;
    top: 300px;
}

.cover__title-right-text-aligned {
    position: absolute;
    top: 435px;
    left: 663px;
}

.cover__description {
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;

    display: flex;
    flex-direction: row;
    height: 51px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    justify-content: space-between;
}

.cover__description-text {
    font-family: "Raleway";
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 0;
    text-transform: uppercase;
    line-height: 28px;
    align-self: center;
    word-spacing: 18px;
}

.cover__description-bet-button {
    padding: 0;
    border: 1px solid white;
    font: inherit;
    color: inherit;
    background-color: transparent;
    
    font-family: "Raleway";
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    min-width: 256px;
    height: 51px;
}

.cover__description-bet-button:hover {
    cursor: pointer;
}

.lots {
    min-height: 723px;
    margin-bottom: 120px;

}

.lots__title {
    margin-left: 64px;
    margin-bottom: 27px;
}

.lots__cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    /* height: 596px; */
    color: white;
    gap: 25px;
    margin: 0 24px;
}

.lots__card-item {
    display: flex;
    width: 334px;
    flex: 0 0 334px;
    min-height: 596px;
}

.lots__card-item > a {
    display: flex;
    max-width: 100%;
    max-height: 100%;
    text-decoration: none;
}

.lots__cards-item-bg-1 {
    background: url(../images/card-lot-01.jpg) rgba(0, 0, 0, .5);
    background-size: cover;
    background-position: 50% 50%;
    background-blend-mode: multiply;
    
}

.lots__cards-item-bg-2 {
    background: url(../images/card-lot-02.jpg) rgba(0, 0, 0, .6);
    background-size: cover;
    background-position: 50% 50%;
    background-blend-mode: multiply;
}

.lots__cards-item-bg-3 {
    background: url(../images/card-lot-03.jpg) rgba(0, 0, 0, .6);
    background-size: cover;
    background-position: 50% 50%;
    background-blend-mode: multiply;
}

.lots__card_text-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 100%;
    max-height: 100%;
    font-size: 20px;
}

.lots__card_text-content-title {
    font-size: 22px;
    line-height: 120%;
    text-align: left;
    text-decoration: underline;
    margin: 48px 40px 0px 40px;
}

.lots__card_text-content-text {
    font-size: 20px;
    line-height: 120%;
    text-align: left;
    margin: 0 40px 48px 40px;
}

.lots__view-more-link {
    margin-top: 32px;
    margin-left: 64px;
    font-size: 20px;
    line-height: 100%;
}

.lots__view-more-link > a {
    text-underline-offset: 5px;
}

.about {
    height: 595px;
    display: flex;
    flex-direction: row;
    margin: 0 24px 180px 24px;
}

.about__background {
    background-color:black;
    color:white;
    width: 240px;
    height: 240px;
    border-radius:50%;
    flex: 0 0 240px;
    justify-content: center;
    align-content: center;
    margin: 35px 72px 0px 47px;
    
}

.about__logo > img {
    width: 141.55px;
    height: 112.55px;
}

.about__logo {
    width: 141.55px;
    height: 112.55px;
}

.about__background > img {
    width: 148px;
    height: 115px;
    margin: auto;
    display: block;
}

.about__content {
    margin-top: 136px;
}

.about__content-title {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 40px;
    letter-spacing: 0em;
    text-transform: uppercase;
}

.about__content-text {
    font-family: "Raleway";
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0em;
    margin-top: 100px;
}

.about__content-text p:first-of-type {
    margin-bottom: 24px;
    /* по макету есть микро отступ */
    margin-right: 5px;
}

.footer {
    height: 180px;
    display: flex;
    justify-content: space-between;
}

.footer__address {
    margin-left: 50px;
}

.footer__links-list-item {
    text-decoration: underline;
    text-align: center;
}

.footer__links-list-item:not(:last-child) {
    margin-bottom: -3px;
}

.footer__links-list-item:first-child {
    text-decoration: none;
}

.footer__social_list {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 48px;
    margin-right: 50px;
}

.footer__social_list_item_icon {
    width: 48px;
    height: 48px;
}
